# vi:syntax=sh

if [[ -z "${BATS_TEST_DIRNAME:-}" ]]; then
  BATS_TEST_DIRNAME=$PWD
fi

export __DIR__=$(cd $BATS_TEST_DIRNAME/.. && pwd)
export SCRIPT=$__DIR__/${BUILD_DIR:-.}/change-all-stacks
export VERSION=$(sed -n 's/.*Version = "\(.*\)".*/\1/p' $__DIR__/commands/version.go)

export CHANGE_ALL_STACKS_CONFIG=
export CHANGE_ALL_STACKS_DRY_RUN=
export CHANGE_ALL_STACKS_VERBOSE=
