[submodule "bats"]
	path = .lib/bats
	url = https://github.com/sstephenson/bats.git
[submodule "cicd-helpers"]
	path = .lib/cicd-helpers
	url = https://github.com/mike-carey/cicd-helpers.git
	branch = dist/v0.1
[submodule "bats-print"]
	path = .lib/bats-print
	url = https://github.com/mike-carey/bats-print.git
